




*.dbf
*.pper
*.Rproj.user/


*.h5
*.tif


*.csv
*.txt

!data_folder/processed_spectra3.csv

*.Rproj.user/
*.json
*.RData
*.Rhistory

*.kml
*.shp
*.prj
*.shq
*.shx
*.sbx
*.sbn
*.cpg

*.pdf
.RDataTmp
*.png
*.rds
